.container-album-page p {
  color: #f1f1f1;
}

@media screen and ( min-width : 920px ) {

  .container-album-flex {
    display: flex;
    flex-direction: row;
  }

  .container-album-page {
    background-color: #202427;
    border-radius: 12px;
    margin: 30px auto;
    padding: 10px;
    width: 80%;
  }

  /* CONTAINER ALBUM COVER */
  .container-album {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
  }

  .container-album-cover-img {
    border-radius: 12px;
    box-shadow: #0a0b0cc2 0 8px 24px;
    margin: 25px auto;
    width: 20%;
  }

  .container-album-cover-artist {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .container-album-cover-name {
    font-size: 18px;
    font-weight: 300;
  }
}

@media screen and ( min-width : 420px ) and ( max-width : 920px ) {

  .container-album-page {
    background-color: #202427;
    border-radius: 12px;
    margin: 30px auto;
    padding: 10px;
    width: 80%;
  }

  /* CONTAINER ALBUM COVER */
  .container-album {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
  }

  .container-album-cover-img {
    border-radius: 12px;
    box-shadow: #0a0b0cc2 0 8px 24px;
    margin: 25px auto;
    width: 30%;
  }

  .container-album-cover-artist {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .container-album-cover-name {
    font-size: 18px;
    font-weight: 300;
  }
}

@media screen and ( max-width : 420px ) {

  .container-album-page {
    background-color: #202427;
    border-radius: 12px;
    margin: 30px auto;
    padding: 10px;
    width: 80%;
  }

  /* CONTAINER ALBUM COVER */
  .container-album {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
  }

  .container-album-cover-img {
    border-radius: 12px;
    box-shadow: #0a0b0cc2 0px 8px 24px;
    margin: 25px auto;
    width: 45%;
  }

  .container-album-cover-artist {
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .container-album-cover-name {
    font-weight: 300;
  }
}
