body {
  text-decoration: none;
}

.container-header {
  background-color: #1a1c1e;
}

.header-logo {
  color: #f1f1f1;
  text-transform: uppercase;
}

.container-nav a {
  color: #7e8189;
}

.container-nav-album:hover, .container-nav-favorites:hover, .container-nav-profile:hover {
  color: #f1f1f1;
}

.container-nav a:active {
  transform: scale(0.85);
}

.nav-user-name {
  color: #7e8189;
}

@media screen and ( min-width : 920px ) {

  .container-landing {
    display: flex;
    flex-direction: row;
  }

  .container-header, .container-nav {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .nav-user {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .container-header {
    border-radius: 0 0 20px;
    height: 100vh;
    padding: 40px 15px;
    width: 12vw;
  }

  .header-logo {
    font-size: 18px;
    margin-bottom: 60px;
  }

  .container-nav-album, .container-nav-favorites, .nav-user {
    font-size: 24px;
    margin-bottom: 80px;
  }

  .nav-user-name {
    font-size: 14px;
  }
}

@media screen and ( min-width : 420px ) and ( max-width : 920px ) {

  .container-header, .container-nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .header-logo {
    font-size: 28px;
  }

  .container-header {
    padding: 30px 0;
  }

  .nav-user {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .container-nav-album, .container-nav-favorites, .nav-user {
    font-size: 24px;
    margin-left: 40px;
  }

  .nav-user-name {
    font-size: 12px;
  }
}

@media screen and ( max-width : 420px ) {

  .container-header, .container-nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .container-header {
    padding: 20px 0;
  }

  .nav-user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-nav-album,
  .container-nav-favorites,
  .nav-user {
    margin-left: 25px;
  }

  .nav-user-name {
    font-size: 6px;
  }
}
