/* CONTAINER FORM */
.page-login {
  background-color: #202427;
  border-radius: 10px;
  color: #F1F1F1;
  text-transform: uppercase;
}

.login-logo {
  font-size: 14px;
}

/* INPUTS */
.login-name, .login-password {
  background-color: #2B2F33;
  border: 1px solid #76767698;
  color: #f1f1f1af;
}

/* BUTTON */
.login-btn {
  background: linear-gradient(90deg, #755bea, #ff72c0);
  border: none;
  color: #F1F1F1;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 auto;
  text-transform: uppercase;
}

.login-btn:disabled {
  cursor: not-allowed;
}

.login-btn:hover {
  transform: translateY(-3px);
  transition: 0.3s ease-in-out;
}

.login-btn:active {
  transform: translateY(0);
}

@media screen and ( min-width : 920px ) {

  .page-login {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    padding: 5%;
    width: 20%;
  }

  .login-logo {
    font-size: 1.6rem;
    margin-bottom: 50px;
    text-align: center;
  }

  .login-name, .login-password {
    border-radius: 6px;
    margin-bottom: 30px;
    margin-top: 5px;
    padding: 6px 10px;
  }

  .login-label-name p, .login-label-password p {
    margin-left: 5px;
  }

  .login-btn {
    border-radius: 6px;
    font-size: 0.8rem;
    padding: 8px 20px;
  }
}

@media screen and ( min-width : 420px ) and ( max-width : 920px ) {

  .page-login {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30% auto;
    padding: 20% 10%;
    width: 35%;
  }

  .login-logo {
    font-size: 1.6rem;
    margin-bottom: 50px;
    text-align: center;
  }

  .login-name, .login-password {
    border-radius: 6px;
    margin-bottom: 30px;
    margin-top: 8px;
    padding: 6px 10px;
  }

  .login-label-name p, .login-label-password p {
    margin-left: 5px;
  }

  .login-btn {
    border-radius: 6px;
    font-size: 0.5rem;
    padding: 8px 20px;
  }
}

@media screen and ( max-width : 420px ) {

  .page-login {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50% auto;
    padding: 20% 10%;
    width: 50%;
  }

  .login-logo {
    font-size: 1.6rem;
    margin-bottom: 50px;
    text-align: center;
  }

  .login-name, .login-password {
    border-radius: 6px;
    margin-bottom: 30px;
    margin-top: 5px;
    padding: 6px 10px;
  }

  .login-label-name p, .login-label-password p {
    margin-left: 5px;
  }

  .login-btn {
    border-radius: 6px;
    font-size: 0.5rem;
    padding: 8px 20px;
  }

}
